@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-color{
    background: darkslategray;
}

.nav-margin{
    margin-left: 12.5%;
}


.grey-background{
    background: #fcfcfc;
}

.iPhone-image{
    width: 1000;
    margin-left:

}