@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-color{
    background: darkslategray;
}

.nav-margin{
    margin-left: 19%;
}


.grey-background{
    background: #fcfcfc;
}

.iPhone-image{

    width: 55vw;
    margin: auto;

}

.iPhone-max-image{
    width: 45vw;
    margin: auto;

}

.wwdc-image